*{
    background-color: #08f;
}

h1 {
    margin- bottom: 50.5px
    background-color #0000ff
    text- align center;
     1.2rem;

}

    
    h2{background-color: #a2daa5;
        margin-bottom: 50px;
    
        text-align: center;
    
    
    }
    h4{ background-color: beige
        margin-top: 50xp;
    }
    p{
    
        font: size 64xp;
        font-family;
    }